.containeradCuenta{
    background-color: #05183C;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .texto{
    font-size: 35px;
    margin-top: -270px;
  }
  .headercito1{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #020C1F 30%, #05183C);
    position: fixed;
    top: 0px;
  }
  .regreso{
    background-image: url('../../assets/atras.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .fondo{
    background-color: rgb(224, 218, 218);
    width: 600px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 50px;
  }
  .adCuenta{
    background-image: url('../../assets/perfil.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accountholder1{
    display:flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 550px;
    height: 100px;
    align-content: space-between;
    align-self: center;
}
.acctype1{
    display: flex;
    background-color: rgb(134, 130, 130);
    flex-direction: column;
    margin: 3px;
    padding:5px;
    border-radius: 5px;
    font-size: 25px;
    align-self: center;
    flex: 1;
}
.adConfirmar{
    background-color:white;
    width: 150px;
    height: 45px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}