.containerhome{
  background-color: #05183C;
  width: 100vw;
  height: 200vh;
}

.headercito{
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #020C1F 30%, #05183C);
  /*background-color: #03122E;*/
}

.contentFilms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userbubble{
  background-image: url('../../assets/perfil.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.navegable{
  width: 80%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.navegable *{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  color: white;
}

.navegable *:hover{
  cursor: pointer;
  text-decoration: underline;
}

.navegable div:nth-child(1){
  margin-left: 20px;
}

.lupa{
  background-image: url('../../assets/lupa.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.options{
  background-image: url('../../assets/lineas.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 35px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.superDiv {
  height: 500px;
  width: 95%;
  background: black;
  display: flex;
}

.superFilm {
  background-color: white;
  align-self: flex-end;
  display: flex;
  align-items: center;
  font-size: 22px;
  margin-bottom: 50px;
  border-radius: 5px;
  margin-left: 100px;
  width: 250px;
  height: 50px;
}

.play{
  background: url('../../assets/play.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-position: 50%;
  margin-left: 30px;
}

.pelicula {
  height: 150px;
  width: 250px;
  background-color: gray;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.carrousel {
  display: flex;
  flex-direction: column;
  height: 225px;
  width: 95%;
  align-self: flex-start;
  margin-left: 75px;
  margin-top: 50px;
}

.containMovies{
  width: 95%;
  height: 300px;
  overflow-x: auto;
  white-space: nowrap;
}

