.perfil {
    background-color: black;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.profileCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.profileContainer{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.newProf {
    height: 150px;
    width: 150px;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-image: url('../../assets/plus.png');
    background-position: 50%;
}

.enterProfile {
    width: 500px;
    height: 330px;
    background-color: #05183c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newProf:hover{
    background-color: white;
}

.titleHolder {
    color: white;
    margin-top: 60px;
    margin-left: 50px;
    align-self: flex-start;
}

.profileName {
    width: 400px;
    height: 40px;
    border-radius: 5px;
}

.buttonHolderProf{
    width: 100%;
    height: 100px;
    display: flex;
}

.buttonHolderProf *{
    height: 40px;
    width: 100px;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px black;
    cursor: pointer;
}

.buttonHolderProf button:nth-child(1) {
    margin-left: 50px;
    background-color: rgb(78, 145, 221);
}

.buttonHolderProf button:nth-child(2) {
    margin-left: 20px;
    background-color: white;
}

.enterProfile p:nth-child(3) {
    width: 300px;
    height: 1px;
    align-self: flex-start;
    margin-left: 50px;
    color: red;
    font-size: 14px;
}